.row
  - @sports.try(:first).as_json.try(:keys).each do |attr|
    .col-md-1
      %h4= attr
- @sports.each do |sport|
  .row
    .col-md-4
      %a(href="#{sport_path(sport.id)}")
        = sport.title
